* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'Helvetica', 'Arial', Helvetica, sans-serif;
   font-size: 1.6rem;
   line-height: 1.6;
   background: #555555;
   color: #a5a4a4;
   text-align: center;
}

.container {
   color: #222222;
   width: 90%;
   height: 100vh;
   margin: 20px auto;
   position: relative;
}

.header {
   background: #e0e0e0;
   width: 100%;
   margin: 5px auto;
   height: 60px;
   color: #222222;
}

.nav {
   background: #e0e0e0;
   width: 100%;
   margin: 5px auto;
   height: 60px;
   
}

li {
   display: inline;
   Padding: 1rem;
}

a:link,
a:active {
   color: #ec4f4f;
   text-decoration: none;
}

a:hover,
a:visited {
   color: #e69c3d
}

h1 { font-size: 30px; }
h2 { font-size: 25px; }
h3 { font-size: 20px; }

.main-content {
   background: #e0e0e0;
   width: 100%;
   margin: 5px auto;
} 

.col-1 {
   background: #e0e0e0;
   width: 59.5%;
   height: 500px;
   margin: 0 auto;
   float: left;
}

.col-2 {
   background: #e0e0e0;
   width: 40%;
   height: 500px;
   margin: 0 auto;
   float: right;
}


.left {
   background: #555555;
   height: 420px;
   margin: 10px;
}

.artical-1,
.artical-2,
.artical-3 {
   background: #e0e0e0;
   margin: 10px;
}

.right {
   background: #e0e0e0;
   margin: 10px;
} 

footer {
   background: #e0e0e0;
   width: 100%;
   margin: 5px auto;
   height: 60px;
   float: left;
}
